.note {
    display: grid;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 100px;
}

.noteWithDraggingBorder {
    border: 2px dashed #0088ff;
}

.noteTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px 0;
}
