.layout {
    display: grid;
    grid-template-areas: "sidebar main adding-block";
    grid-template-columns: 300px 1fr;

    min-height: 100vh;
}

.main {
    grid-area: main;

    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}
