.navbar {
    list-style-type: none;
    margin: 0;
    display: flex;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    padding: 0 20px;
}

.navbarTreeItem {
    width: 100%;
    max-width: 200px;
}

.navbarTreeItem, .navbarUserItem {
    display: flex;
    align-items: center;
}

.navbarLink {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbarLink:hover {
    background-color: #ddd;
}

.navbarLinkActive {
    color: white;
    background-color: #008CBA;
}

.noteTreeLink {
    width: 100%;
}

@media (min-width: 720px) {
    .navbarTreeItem, .navbarUserItem {
        display: none;
    }
}
