:root {
    --sidebar-background: rgb(247, 246, 243);
    --white: #FFFFFF;
    --black: #222222;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li > ul {
    padding-left: 15px !important;
}

p {
    margin: 0;
}
