.noteTextEditor {
    border: 1px solid var(--black);
    padding: 2px;
    border-radius: 2px;
    height: 140px;
}

.noteTextSaveBtn {
    composes: noteBlockSaveBtn from '../../style.module.css';
}
